/* 상단 배너 */
.banner-container {
    background-color: rgb(72, 165, 241);
    color: white;
}

/* 상단 배너 제목 */
.banner-title {
    text-align: center;
    font-family: 'YClover-Bold';
    font-size: 70px;

    /* 배너 내 텍스트 중앙 정렬 */
    display: block;
    height: 300px;
    line-height: 300px;
}

#category-title {
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    margin-top: 70px;
    font-weight: bold;
}

#category-products {
    margin: 0px 100px 100px 100px;
    padding-bottom: 30px;
}

.product-image {
    position: relative;   
}

.product-paging{
    text-align: center;
}

.heart-icon-white {
    position: absolute;
    top: 75%;
    left: 100%;
    transform: translate(-100%, -75%);
}

#sorting {
    margin-top: 50px;
    margin-right: 115px;
}

#button {
    background-color: white;
    border: none;
}