.order-container {
    padding-left: 70px;
    padding-right: 70px;
}

.order-container h2 {
    text-align: center;
    margin: 100px 0px;
    font-family: 'YClover-Bold';
}

.order-sheet-container {
    margin-bottom: 50px;
    border-bottom: solid grey 1px;
    
}

.order-sheet-title {
    font-size: 1.3rem;
    font-family: 'YClover-Regular';
    border-bottom: solid grey 1px;
    padding-bottom: 10px;
}

.order-content-row {
    /* margin: 15px 0px; */
}

.row-title {
    background-color: lightcoral;
    border-right: solid grey 1px;
    font-weight: bold;
    padding: 10px 0 10px 30px;
}

.row-content {
    /* background-color: aquamarine; */
    padding: 10px;
}