/* TODO: 메인 페이지 css */
/* TODO: HeaderCom.vue */
@font-face {
    font-family: 'YClover-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* navbar #1 */
.main-nav1 {
    /* background-color: red; */
    height: 70px;
}

/* navbar #1 : 로고 */
.main-nav-logo {
    /* background-color: rgb(115, 235, 67); */
    font-size: 30px;
    font-family: 'YClover-Bold';
}

/* navbar #1 : 검색창 */
.main-nav-search {
    /* background-color: rgb(29, 103, 37); */
    padding-top: 17px;
}

/* navbar #1 : 우측 리스트 */
.main-nav-list {                                                                                                                                                                                                                                                                                                                
    /* background-color: rgb(132, 205, 139); */
    font-size: 13px;
}

/* navbar #2 */
.main-nav2 {
    /* background-color: orange; */
    height: 50px;
    line-height: 50px;
}

/* navbar #2 : 카테고리 메뉴 */
.category-menu {
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    display: block;
}

/* TODO: 본문 */
/* 메인 페이지 : 추천 상품 제목 */
#main-product-title {
    /* background-color: aquamarine; */
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin-top: 50px;
}

/* 메인 페이지 : 추천 상품 목록 */
#main-products {
    /* background-color: blueviolet; */
    margin: 0px 100px 100px 100px;
    padding-bottom: 30px;
}

/* TODO: footer */
#footer_box {
    width: 1140px;
    margin: 0 auto;
}

footer {
    background-color: #9c9c9c;
    height: 150px;
    margin-top: 30px;
}

#footer_logo {
    float: left;
    color: white;
    font-size: 30px;
    margin-left: 100px;
    line-height: 150px;
    font-family: 'YClover-Bold';
}

#address {
    float: right;
    margin: 50px 30px 0 0;
    color: white;
}